workflows/Generate_VIdeo_idea.json
{
  "name": "Generate VIdeo idea",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1VukfzFHudbSe5bkTzrAzdIu2IEGr0ew01QXxGFwRmcs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VukfzFHudbSe5bkTzrAzdIu2IEGr0ew01QXxGFwRmcs/edit#gid=0"
        },
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "fec53600-fe1b-4ee7-9926-811ba67a10a8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "d2QjealcbWLk3XgQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it",
        "prompt": "=Generate a YouTube video plan based on this idea: {{$json.video_idea}}\n\nPlease provide:\n1. An engaging YouTube title\n2. A detailed description\n3. A script outline\n4. A detailed prompt for generating a thumbnail image\n\nFormat the response as JSON with these keys: Title, description, script, image_rompt\nDo not add any other info besides the json. Do not add markdown like ```json ```. it shoudl be strictly the json content.\nExample:\n{\n\"Title\": \"The good idea\",\n\"description\": \"The most creative video ever..\",\n\"script\": \"Are you feeling lost?\",\n\"image_prompt\": \"man looking down, realistic..\"\n}",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        },
        "requestOptions": {}
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "408fefe6-dd70-4eac-88c1-e08db9bff451",
      "credentials": {
        "openAiApi": {
          "id": "qLpJrX6H79lPreSp",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Title",
              "value": "={{ $json.text.split('\"Title\": \"')[1].split('\",')[0] }}"
            },
            {
              "name": "description",
              "value": "={{ $json.text.split('\"description\": \"')[1].split('\",')[0] }}"
            },
            {
              "name": "script",
              "value": "={{ $json.text.split('\"script\": ')[1].split(',\n  \"image_prompt\"')[0] }}"
            },
            {
              "name": "image_prompt",
              "value": "={{ $json.text.split('\"image_prompt\": \"')[1].split('\"')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        300,
        0
      ],
      "id": "set-json"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1VukfzFHudbSe5bkTzrAzdIu2IEGr0ew01QXxGFwRmcs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VukfzFHudbSe5bkTzrAzdIu2IEGr0ew01QXxGFwRmcs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "description": "={{ $json.description }}",
            "script": "={{ $json.script }}",
            "image_prompt": "={{ $json.image_prompt }}"
          }
        },
        "options": {}
      },
      "name": "Google Sheets Write",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "ff056c96-568a-4559-85ae-896b9260e0bb",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "d2QjealcbWLk3XgQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        0
      ],
      "id": "c9a76c72-f839-4f24-8fc4-81a53f892acc",
      "name": "When clicking 'Test workflow'"
    }
  ],
  "pinData": {
    "OpenAI": [
      {
        "json": {
          "logprobs": null,
          "finish_reason": "stop",
          "native_finish_reason": "stop",
          "text": "{\n  \"Title\": \"Don't Give Up: How to Keep Moving Forward (Even When It's Hard)\",\n  \"description\": \"Feeling discouraged? Like you're hitting wall after wall? You're not alone. In this video, I share practical life advice to help you overcome setbacks, stay motivated, and keep looking forward, even when things get tough. We'll explore strategies for building resilience, shifting your mindset, and finding the strength to pursue your dreams. This isn't just about 'positive thinking' – it's about actionable steps you can take *today* to create a more hopeful and fulfilling future.  #motivation #inspiration #lifelessons #nevergiveup #resilience #mindset #personalgrowth #positivevibes #encouragement\",\n  \"script\": [\n    {\n      \"time\": \"0:00-0:15\",\n      \"segment\": \"Intro - Hook & Intro\",\n      \"content\": \"Visuals: Upbeat, inspiring montage of people overcoming challenges (athletes, artists, students, etc.).\\nAudio: Upbeat, hopeful music.\\nVoiceover: \\\"Ever feel like you're running on a treadmill, putting in effort but getting nowhere? Like the universe is actively working against you? We ALL feel that way sometimes. But giving up isn't the answer. Today, we're talking about how to keep moving forward, even when it feels impossible.\\\"\"\n    },\n    {\n      \"time\": \"0:15-1:00\",\n      \"segment\": \"The Reality of Setbacks\",\n      \"content\": \"Visuals: More realistic footage showing struggles, failures, moments of frustration.\\nAudio: Music becomes slightly more subdued, but still hopeful.\\nVoiceover: \\\"Let's be real: life *is* hard. Setbacks are inevitable. Failure is a part of the process.  Expecting a smooth ride is setting yourself up for disappointment. The problem isn't *that* things go wrong, it's how we *react* when they do. Many people give up at the first sign of trouble, but that's where the magic happens.  That's where growth begins.\\\"\"\n    },\n    {\n      \"time\": \"1:00-2:30\",\n      \"segment\": \"Tip 1: Reframe Your Perspective\",\n      \"content\": \"Visuals: Split screen – one side showing a negative interpretation of a situation, the other showing a positive one.\\nAudio: Music becomes slightly more uplifting.\\nVoiceover: \\\"Okay, so how do we shift our reaction? Tip number one: Reframe your perspective.  Instead of seeing failure as a full stop, see it as a comma. A pause. An opportunity to learn.  Instead of saying 'I failed,' say 'I learned something valuable.'  Ask yourself: What can I take away from this experience? How can I do things differently next time?  This isn't just semantics; it changes everything.\\\"\"\n    },\n    {\n      \"time\": \"2:30-3:30\",\n      \"segment\": \"Tip 2: Focus on What You *Can* Control\",\n      \"content\": \"Visuals: Footage of someone actively taking small steps towards a goal.\\nAudio: Music becomes more motivational.\\nVoiceover: \\\"So much of life is outside of our control.  Dwelling on those things will only lead to frustration.  Instead, focus on what you *can* control: your effort, your attitude, your daily habits.  Break down your big goals into small, manageable steps.  Celebrate those small wins.  Because those small wins add up to something HUGE over time.\\\"\"\n    },\n    {\n      \"time\": \"3:30-4:30\",\n      \"segment\": \"Tip 3: Embrace the Power of 'Not Yet'\",\n      \"content\": \"Visuals: Time-lapse footage of something growing or developing.\\nAudio: Music becomes more inspirational.\\nVoiceover: \\\"Sometimes, we give up because we feel like we're not good enough, or not fast enough.  But progress isn't linear.  Embrace the power of 'not yet.'  'I'm not a skilled artist *yet.*' 'I don't have the money I need *yet.*' 'I haven't found my purpose *yet.*'  'Not yet' acknowledges the current reality but also implies future possibility. It keeps the door open for growth and learning.\\\"\"\n    },\n    {\n      \"time\": \"4:30-5:00\",\n      \"segment\": \"Outro - Call to Action & Encouragement\",\n      \"content\": \"Visuals: Return to the upbeat montage from the intro.\\nAudio: Music swells to a hopeful climax.\\nVoiceover: \\\"Don't let setbacks define you. Don't let fear paralyze you.  You are stronger than you think, and you are capable of amazing things.  Keep moving forward, keep learning, and keep believing in yourself.  If you found this video helpful, please like and subscribe for more content like this! What's one thing you're going to keep working towards today? Let me know in the comments below!\\\"\"\n    }\n  ],\n  \"image_prompt\": \"A close-up shot of a person's face, looking slightly upwards towards a bright, hopeful light source. The expression should be determined but also vulnerable, suggesting resilience and hope. Soft, natural lighting.  Focus on the eyes – they should convey a sense of inner strength and forward-looking optimism. A slightly blurred background with hints of nature (trees, sky) to evoke a sense of growth and possibility. Realistic painting style, high detail.  Color palette: warm tones (gold, orange, soft yellows) combined with calming blues and greens.\"\n}\n",
          "reasoning": null
        }
      }
    ]
  },
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e478a44b-e9e0-430e-ad97-c338bc9aa3c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6dd61b100894100340d7d82a5dee06c39759ff06b257781e13823dbf6cea202"
  },
  "id": "xs8G3pdaiZGYglEF",
  "tags": []
}