workflows/youtube-video-prep.json
{
  "name": "YouTube Video Preparation",
  "nodes": [
    {
      "parameters": {
        "operation": "read",
        "documentId": "={{$json.documentId}}",
        "sheetName": "Video Ideas",
        "range": "A:Z"
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "model": "gpt-4",
        "prompt": "Generate a YouTube video plan based on this idea: {{$json.videoIdea}}\n\nPlease provide:\n1. An engaging YouTube title\n2. A detailed description\n3. A script outline\n4. A detailed prompt for generating a thumbnail image\n\nFormat the response as JSON with these keys: title, description, script, thumbnailPrompt",
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{$json.documentId}}",
        "sheetName": "Video Ideas",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{$json.title}}",
            "description": "={{$json.description}}",
            "script": "={{$json.script}}",
            "thumbnailPrompt": "={{$json.thumbnailPrompt}}"
          }
        }
      },
      "name": "Google Sheets Write",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "1"
  },
  "tags": []
} 